{% extends "layout.html" %}

{% block title %}Muokkaa kohdetta{% endblock %}

{% block content %}
{% if images %}
<form action="/remove_images" method="post" id="edit-images">
  {% for image in images %}
  <label for="{{ image.id }}" class="image-label">
    <input type="checkbox" name="image_id" id="{{ image.id }}" value="{{ image.id }}">
    <div class="image-container">
      <img src="/image/{{ image.id }}" alt="Ilmoituksen kuva" />
    </div>
  </label>
  <br />
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="hidden" name="spot_id" value="{{ spot.id }}">
  <p>
    <input type="submit" value="Poista valitut" />
  </p>
</form>
{% endif %}

<form action="/update_spot" method="post" enctype="multipart/form-data">
  <p>
    <label for="name">Kohteen nimi:</label> <br />
    <input
    type="text"
    id="name"
    name="name"
    size="25"
    value="{{ spot.name }}"
    maxlength="50"
    required/>
  </p>
  <p>
    <label for="image">Kuvat:<br>(Maksimikoko <strong>500 kt</strong>, hyväksytty tiedostomuoto <strong>.png</strong>)</label><br>
    <input
    type="file"
    id ="image"
    name="image"
    accept=".png"
    class="{% if errors.files %}error{% endif %}"
    multiple/>
    {% if errors.files %}
      <span class="notice">{{ errors.files }}</span>
    {% endif %}
  </p>
  <p>
    <label for="lat">Koordinaatit (ETRS-TM35FIN):</label><br />
    <ul>
      <li>Hae koordinaatit <a href="https://kartta.paikkatietoikkuna.fi/" target="_blank">Paikkatietoikkunasta</a></li>
      <li>Pohjoiskoordinaatti on muotoa 6673710,116 </li>
      <li>Itäkoordinaatti on muotoa 385809,798</li>
      <li>Koordinaatteja, jotka eivät ole Helsingin (lähi)alueella, ei hyväksytä </li> <br>
    </ul>
    <input
      type="text"
      id="lat"
      name="lat"
      pattern="^\s*\d+([,.]\d+)?\s*$"
      maxlength="12"
      value="{{ spot.lat }}"
      class="{% if errors.lat %}error{% endif %}"
      required/> N
    {% if errors.lat %}
      <span class="notice">{{ errors.lat }}</span>
    {% endif %}
    <br><br>
    <input
      type="text"
      name="lon"
      pattern="^\s*\d+([,.]\d+)?\s*$"
      maxlength="12"
      value="{{ spot.lon }}"
      class="{% if errors.lon %}error{% endif %}"
      required/> E
    {% if errors.lon %}
      <span class="notice">{{ errors.lon }}</span>
    {% endif %}
  </p>
  </p>
  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea id="description" name="description" rows="8" cols="60" maxlength="1000">{{ spot.description }}</textarea>
  </p>
  <label for="category">Kategoria:</label>
  <select id="category" name="category" required>
    {% for cat in categories %}
      <option value="{{ cat }}" {% if cat == spot.category %}selected{% endif %}>{{ cat }}</option>
    {% endfor %}
  </select>
  <input type="hidden" name="spot_id" value="{{ spot.id }}" />
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="cancel" value="Peruuta" formnovalidate/>
  <input type="submit" value="Muokkaa kohdetta" />
</form>
{% endblock %}