<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
  <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="top-row">
      <a href="/" id="header-link">
        <h1>Helsinki Spots</h1>
      </a>
      <nav class="top-links">
        <div class="left-links">
          {% if session.username %}
            Kirjautunut nimellä <a href="/user/{{ session.user_id }}">{{ session.username }}</a>
            <a href="/logout">Kirjaudu ulos</a>
          {% else %}
            <a href="/login">Kirjaudu sisään</a>
            <a href="/register">Rekisteröidy</a>
          {% endif %}
        </div>
  
        <div class="right-links">
          <a href="/find_spot">Hae kohteita</a>
          {% if session.username %}
            <a href="/add_spot">Lisää uusi kohde</a>
          {% endif %}
        </div>
      </nav>
    </div>
  </header>

  <main>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% block spot_boxes %}{% endblock %}
  </main>

  <div class="spot-pages">
    {% block spot_pages %}{% endblock %}
  </div>

  <div class="comment-pages">
    {% block comment_pages %}{% endblock %}
  </div>
</body>
</html>