{% extends "layout.html" %}

{% block title %}Kirjaudu{% endblock %}

{% block content %}
{% if session.username %}
<p>
  Olet kirjautunut nimellä {{ session.username }}, id numerosi on {{session.user_id}}
</p>
<p>
  <a href="/logout">Kirjaudu ulos</a>
</p>
{% else %}
<form action="/login" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" required/>
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password" required/>
  </p>
  <input type="submit" value="Kirjaudu" />
</form>
{% endif %}
<p>
  <a href="/">Takaisin</a>
</p>
{% endblock %}