{% extends "layout.html" %}

{% block title %}Kirjaudu{% endblock %}

{% block content %}
{% if session.username %}
<p>
  Olet kirjautunut nimellä {{ session.username }}, id numerosi on {{session.user_id}}
</p>
<p>
  <a href="/logout">Kirjaudu ulos</a>
</p>
{% else %}
<div class="username-password">
  <form action="/login" method="post">
    <p>
      <label for="username">Käyttäjänimi:</label> <br />
      <input type="text" id="username" name="username" required/>
    </p>
    <p>
      <label for="password">Salasana:</label> <br />
      <input type="password" id="password" name="password" required/>
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
</div>
{% endif %}
<p>
  <a href="/">Takaisin</a>
</p>
{% endblock %}