{% extends "layout.html" %}

{% block title %}Rekisteröidy{% endblock %}

{% block content %}
<form action="/create_user" method="post" class="username-password">
  <p>
    <label for="username">Käyttäjänimi: </label> <br />
    <input type="text" id="username" name="username" required/>
  </p>
  <p>
    <label for="password1">Salasana: </label> <br />
    <input type="password" id="password1" name="password1" required/>
  </p>
  <p>
    <label for="password2">Salasana uudestaan: </label> <br />
    <input type="password" id="password2" name="password2" required/>
  </p>
  <input type="submit" value="Luo tunnus" />
</form>
<p>
  <a href="/">Takaisin</a>
</p>
{% endblock %}