{% extends "layout.html" %}

{% block title %}Rekisteröidy{% endblock %}

{% block content %}
<form action="/create_user" method="post">
  <p>
    Tunnus: <br />
    <input type="text" name="username" required/>
  </p>
  <p>
    Salasana: <br />
    <input type="password" name="password1" required/>
  </p>
  <p>
    Salasana uudestaan: <br />
    <input type="password" name="password2" required/>
  </p>
  <input type="submit" value="Luo tunnus" />
</form>
<p>
  <a href="/">Takaisin</a>
</p>
{% endblock %}