{% extends "layout.html" %}

{% block title %}{{ spot.name }}{% endblock %}

{% block content %}
<h1>{{ spot.name }}</h1>

{% if session.user_id == spot.user_id %}
<p>
  <a href="/edit_spot/{{ spot.id }}">Muokkaa</a>
  <a href="/remove_spot/{{ spot.id }}">Poista</a>
</p>
{% endif %}
<div class="image-container">
{% for image in images %}
  <a href="/image/{{ image.id }}" target="_blank">
    <img src="/image/{{ image.id }}" alt="Ilmoituksen kuva"/>
  </a>
{% endfor %}
</div>
<div id="spot-container">
  <h4>Kuvaus:</h4>
  <p>
    {{ spot.description | show_lines }}
  </p>
  <h4>Koordinaatit:</h4>
  <p>
    {{ spot.lat }} N <br>
    {{ spot.lon}} E
  </p>
  <h4>Kategoria: </h4>
  <p>
    {{ spot.category }}
  </p>
  <h4>Tekijä:</h4>
  <p>
    <a href="/user/{{ spot.user_id }}"><b>{{ spot.username }}</b></a>
  </p>
</div>
<h2>Kommentit</h2>
{% for comment in comments %}
<div class="comment-box {% if loop.index0 % 2 == 0 %}even{% else %}odd{% endif %}">
  <p>
    <b><a href="/user/{{ spot.user_id }}">{{ comment.username }}</a></b> ({{ comment.sent_at }}):
  </p>
  <p>
    {{ comment.content | show_lines }}
  </p>
  {% if comment.user_id == session.user_id %}
  <p>
    <a href="/edit_comment/{{ comment.id }}">Muokkaa</a> |
    <a href="/remove_comment/{{ comment.id }}">Poista</a>
  </p>
  {% endif %}
</div>
{% endfor %}

{% if session.user_id %}
<div id="new-comment">
  <h3>Uusi kommentti</h3>
</div>
<form action="/add_comment" method="post">
  <p>
    <label for="content">Kommentti: </label> <br />
    <textarea id="content" name="content" rows="8" cols="60" maxlength="500" required></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="spot_id" value="{{ spot.id }}" />
  <input type="submit" value="Lähetä" />
</form>
<hr />
{% endif %}
<p>
  <a href="/">Takaisin</a>
</p>
{% endblock %}

{% block comment_pages %}
<p>
  {% if page > 1 %}
  <a href="/spot/{{ spot.id }}/{{ page - 1 }}">&lt;&lt;</a>
  {% endif %}
  Sivu {{ page }}/{{ page_count }}
  {% if page < page_count %}
  <a href="/spot/{{ spot.id }}/{{ page + 1 }}">&gt;&gt;</a>
  {% endif %}
</p>
<hr />
{% endblock %}