{% extends "layout.html" %}

{% block title %}{{ spot.name }}{% endblock %}

{% block content %}
<h1>{{ spot.name }}</h1>

{% if session.user_id == spot.user_id %}
<p>
  <a href="/edit_spot/{{ spot.id }}">Muokkaa</a>
  <a href="/remove_spot/{{ spot.id }}">Poista</a>
</p>
{% endif %}
{% for image in images %}
<img src="/image/{{ image.id }}" alt="Ilmoituksen kuva" />
{% endfor %}
<p>
  Kuvaus: <br />
  {{ spot.description | show_lines }}
</p>
<p>
  Koordinaatit:
  {{ spot.lat }} N {{ spot.lon}} E
</p>
<p>
  Kategoria: {{ spot.category }}
</p>
<p>
  Tekijä: <a href="/user/{{ spot.user_id }}">{{ spot.username }}</a>
</p>
<p>
  <a href="/">Takaisin</a>
</p>

<hr />
<p>
  <h2>Kommentit</h2>
</p>
{% for comment in comments %}
<p>
  <b><a href="/user/{{ spot.user_id }}">{{ comment.username }}</a></b> ({{ comment.sent_at }}):
</p>
<p>
  {{ comment.content | show_lines }}
</p>
{% if comment.user_id == session.user_id %}
<p>
  <a href="/edit_comment/{{ comment.id }}">Muokkaa</a> |
  <a href="/remove_comment/{{ comment.id }}">Poista</a>
</p>
{% endif %}
<hr />
{% endfor %}

{% if session.user_id %}
<h3>Uusi kommentti</h3>

<form action="/add_comment" method="post">
  <p>
    Kommentti:<br />
    <textarea name="content" rows="5" cols="40" maxlength="500" required></textarea>
  </p>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="spot_id" value="{{ spot.id }}" />
  <input type="submit" value="Lähetä" />
</form>
<hr />
{% endif %}
<p>
  <a href="/">Takaisin</a>
</p>
{% endblock %}